@font-face {
    font-family: 'Breve Slab';
    src: url('~@/assets/fonts/Aleo-Regular.ttf');
    font-style: none;
    font-weight: normal;
}

@font-face {
    font-family: 'Breve Slab';
    src: url('~@/assets/fonts/Aleo-Bold.ttf');
    font-style: none;
    font-weight: bold;
}

@font-face {
    font-family: 'Breve Slab';
    src: url('~@/assets/fonts/Aleo-Light.ttf');
    font-style: none;
    font-weight: lighter;
}

// $bg-primary: rgb(217, 214, 0);
$bg-primary: #414042;
$bg-third: #2a292a;
$bg-secondary: #F4D117;

$color-primary: #ffffff;
$color-secondary: #fff;

$font-primary: 'Breve Slab', sans-serif;
$font-secondary: 'Roboto', sans-serif;
