.contact {
  background-color: #fffef4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.104);
  border: 1px solid rgba(0, 0, 0, 0.104);
  opacity: 0;

  @media screen and (max-width: 600px) {
    margin: 10px 0;
    width: 100%;
  }
}

.contact-links, .contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}

.form-textarea {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  & .submit-btn {
    position: relative;
    bottom: 5px;
    margin-left: 5px;
    background-color: transparent;
    width: 40% !important;
  }
}


.contact-links {
  background-color: #1f2e43;
  border-radius: 10px 0 0 10px;
  background:
  radial-gradient(
    circle at 55% 92%, #426691 0 12%, transparent 12.2%
  ), 
  radial-gradient(
    circle at 94% 72%, #426691 0 10%, transparent 10.2%
  ), 
  radial-gradient(
    circle at 20% max(85%, 350px), #263a53 0 7%, transparent 7.2%
  ), 
  radial-gradient(
    circle at 0% 0%, #263a53 0 40%, transparent 40.2%
  ), 
  #1f2e43;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

.show-links{ 
  @include show-animation("contact-links", 0, -100px, .7s, ease-in);
}

.show-wrapper {
  @include show-animation("contact-form-wrapper", 0, 100px, .7s, ease-in);
}

@media only screen and (max-width: 800px) {
  .contact-links, .contact-form-wrapper {
    width: 100%;
  }
  
  .contact-links {
    border-radius: 10px 10px 0 0;
  }
  
  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

.contact-title {
  font-family: $font-primary;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(.95, 1);
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.link {
  margin: 10px;
  cursor: pointer;
}

.social-media__icon {
  width: 45px;
  height: 45px;
  filter: 
    hue-rotate(220deg)
    drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;

  &:hover {
    transform: scale(1.1, 1.1);
  }
  
  &:active {
    transform: scale(1.1, 1.1);
    filter: 
      hue-rotate(220deg)
      drop-shadow(2px 4px 4px #222)
      sepia(0.3);
  }
}

.form-item {
  position: relative;
  margin: 0;
}

label, input, textarea {
  font-family: $font-primary;
  font-weight: bold;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input, textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: clamp(15px, 1.5vw, 18px);
}

input:focus+label, 
input:valid+label, 
textarea:focus+label, 
textarea:valid+label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: transparent;
  filter: drop-shadow(2px 2px 3px #0003);
  color: $color-secondary;
  font-family: $font-primary;
  font-size: clamp(16px, 1.6vw, 18px);
  font-weight: bold;
  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  width: 100%;
  border: 2px solid $color-primary;
  height: max-content;
  padding: 8px;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

.invalid-feedback {
  display: block;
  position: relative;
  bottom: 12px;
  left: 10px;
  color: red;
  margin: 0;
  margin-bottom: 10px;
  font-size: .9rem;
}

.is-invalid {
  border: 1px solid red;
}

.is-invalid__label {
  color: red !important;
}

@media only screen and (max-width: 800px) {
  .contact-title {
    font-size: clamp(40px, 10vw, 60px);
  }
}

@media only screen and (max-width: 600px) {
  .contact-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .contact-title {
    font-size: clamp(30px, 12vw, 60px);
  }
  
  .links {
    padding-top: 30px;
  }
  
  .social-media__icon {
    width: 38px;
    height: 38px;
  }
}
