.crew {
    position: relative;
    background-image: linear-gradient(90deg, $color-primary, $bg-secondary, $color-primary);
    background-attachment: fixed;
    color: $bg-primary;
    opacity: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    
    & .crew-container {
        width: 85%;
        overflow: hidden;
        margin: 0 auto;
        
        & .crew-container-carrousel {
            display: grid;
            transition: 2s ease-out;

            & .crew-member {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                position: relative;
                width: 100%;
                overflow: hidden;
    
                & .container-info {
                    position: absolute;
                    width: 600px;
                    left: 0;
                    color: $color-secondary;
    
                    & .crew-member__name {
                        font-size: 3.5rem;
                        font-weight: 700;
                        transition: opacity 1s ease-in-out;
                        color: $color-primary;
                        animation: move linear 4s infinite alternate;  

                        @media screen and (max-width: 950px) {
                            font-size: 3rem;
                        }

                        @media screen and (max-width: 750px) {
                            font-size: 2.3rem;
                        }

                        @media screen and (max-width: 575px) {
                            font-size: 1.8rem;
                        }
                    }
    
                    & .crew-member__position {
                        font-size: 1.5rem;
                        font-weight: 400;
                        font-style: italic;

                        @media screen and (max-width: 950px) {
                            font-size: 1.3rem;
                        }

                        @media screen and (max-width: 750px) {
                            font-size: 1.1rem;
                        }

                        @media screen and (max-width: 575px) {
                          margin-bottom: 30px;
                        }
                    }

                    @media screen and (max-width: 950px) {
                        width: 500px;
                    }

                    @media screen and (max-width: 750px) {
                        width: 350px;
                    }
                    
                    @media screen and (max-width: 575px) {
                        position: relative;
                        width: 100%;
                        text-align: center;

                        margin-top: 20px;
                    }
                }
    
                & .crew-member__image {
                    position: relative;
                    top: 10px;
                    width: 600px;
                    height: 100%;
                    object-fit: contain;
                    background-attachment: fixed;
                    z-index: 1;

                    @media screen and (max-width: 950px) {
                        width: 450px;
                    }
                    
                    @media screen and (max-width: 750px) {
                        width: 300px;
                    }

                    @media screen and (max-width: 575px) {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 575px) {
                   flex-direction: column-reverse;
                }
            }
            
            & .crew-member__active {
               @media screen and (min-width: 650px) {
                animation: crew-member__active 1.3s ease-in forwards;
    
                & > .container-info {
                    animation: crew-member__active-info 2.3s ease-in-out;

                    & .crew-member__name  {
                        animation: move linear 4s infinite alternate;  
                      }

                    & .crew-member__position {
                        @include show-animation("crew-position", 0, 50px, 1s, ease-in);
                    }
                }
    
                & .crew-member__image {
                    animation: crew-member__active-image 2.3s ease-in-out;
                    z-index: 2;
                }
               }
            }
    
            @keyframes crew-member__active {
                0% {
                    transform: scale(.5);
                }
                100% {
                    transform: scale(1);
                }
            }
            @keyframes crew-member__active-info {
                0% {
                    transform: translateX(500px) translateY(-50%);
                }
                100% {
                    transform: translateX(0) translateY(0);
                }
            }
            @keyframes crew-member__active-image {
                0% {
                    transform: translateX(-500px) translateY(50%);
                }
                100% {
                    transform: translateX(0) translateY(0);
                }
            }
        }

        @media screen and (max-width: 1250px) {
            width: 100%;
        }

    }

    & .crew-controls {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        
        & span {
            display: block;
            cursor: pointer;
            margin: 0 5px;
            outline: none;
            background-color: $color-secondary;
            border-radius: 50%;
            height: 15px;
            width: 15px;
            font-weight: bold;
       
            @media screen and (max-width: 575px) {
              height: 12px;
              width: 12px;
            }
        }

        & .active {
          background-color: $bg-primary;
        }

    }
}

@keyframes move {
  0% {
    text-shadow:
      4px -4px 0 $color-secondary, 
      3px -3px 0 $color-secondary, 
      2px -2px 0 $color-secondary, 
      1px -1px 0 $color-secondary,
      -4px 4px 0 $bg-primary, 
      -3px 3px 0 $bg-primary, 
      -2px 2px 0 $bg-primary, 
      -1px 1px 0 $bg-primary
    ;
  }
  25% {    
    text-shadow:      
      -4px -4px 0 $bg-primary, 
      -3px -3px 0 $bg-primary, 
      -2px -2px 0 $bg-primary, 
      -1px -1px 0 $bg-primary,
      4px 4px 0 $color-secondary, 
      3px 3px 0 $color-secondary, 
      2px 2px 0 $color-secondary, 
      1px 1px 0 $color-secondary      
    ;
  }
  50% {
    text-shadow:
      -4px 4px 0 $color-secondary, 
      -3px 3px 0 $color-secondary, 
      -2px 2px 0 $color-secondary, 
      -1px 1px 0 $color-secondary,
      4px -4px 0 $bg-primary, 
      3px -3px 0 $bg-primary, 
      2px -2px 0 $bg-primary, 
      1px -1px 0 $bg-primary
    ;
  }
  75% {
    text-shadow:
      4px 4px 0 $bg-primary, 
      3px 3px 0 $bg-primary, 
      2px 2px 0 $bg-primary, 
      1px 1px 0 $bg-primary,
      -4px -4px 0 $color-secondary, 
      -3px -3px 0 $color-secondary, 
      -2px -2px 0 $color-secondary, 
      -1px -1px 0 $color-secondary      
    ;
  }
  100% {
    text-shadow:
      4px -4px 0 $color-secondary, 
      3px -3px 0 $color-secondary, 
      2px -2px 0 $color-secondary, 
      1px -1px 0 $color-secondary,
      -4px 4px 0 $bg-primary, 
      -3px 3px 0 $bg-primary, 
      -2px 2px 0 $bg-primary, 
      -1px 1px 0 $bg-primary
    ;
  }  
}