.navbar {
    // background-color: red;
    font-family: $font-primary;
    padding: 20px 10px;
    height: 60px;

    & .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        
        & li {
            margin: 0 10px;
            @include show-animation('nav', 0, 20px);
            
            & a {
                text-decoration: none;
                color: $color-primary;
                display: inline-block;
                position: relative;
                text-decoration: none;

                &:after {
                    content: "";
                    display: block;
                    margin: auto;
                    height: 1.5px;
                    width: 0px;
                    transition: all .3s;
                }
                &:hover:after {
                    width: 100%;
                    background: $color-primary;
                }
            }
        }
    }
}