.navbar {
    position: sticky;
    top: 0;
    z-index: 20;
    font-family: $font-primary;
    padding: 20px 10px;
    height: 60px;

    & .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
       
        & li {
            margin: 0 10px;
            @include show-animation('nav', 0, 20px);
            
            & a {
                text-decoration: none;
                color: $color-primary;
                display: inline-block;
                position: relative;
                text-decoration: none;
                transition: color .3s ease;

                &:hover {
                    color: $bg-secondary;
                }
            }
        }
    }
}

.navbar-active {
    @include show-animation('nav-active', 0, -20px, .4s, ease);
}

.nav-item__active {
   position: relative;
    &::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        height: 3px;
        border-radius: 5px;
        width: 0;
        background: $bg-secondary;
        animation: animation-active-nav .3s ease forwards;
    }

    @keyframes animation-active-nav {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }
}