.clients {
    background-color: $color-primary;
}

.container-clients {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    @media screen and (max-width: 950px) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    }
    
    @media screen and (max-width: 750px) {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
    }

    & img {
        width: 100%;
        margin: 5px;
    }
}