@import './mixins/show-animation.scss';
@import './navbar.scss';
@import './header.scss';
@import './works.scss';
@import './crew.scss';
@import './ourClients.scss';
@import './contactUs.scss';
@import './footer.scss';

html {
    scroll-behavior: smooth;
}

body {
    background: $bg-primary;
}

.section {
    padding: 10px 40px;
    font-family: $font-primary;
}
