@import './mixins/show-animation.scss';
@import './navbar.scss';
@import './header.scss';
@import './works.scss';
@import './crew.scss';
@import './ourClients.scss';
@import './contactUs.scss';
@import './footer.scss';

html {
    scroll-behavior: smooth;
}

body,
.navbar-active {
    background: $bg-primary;
    background-image: url(/src/assets/images/backgound-noise.png);
    background-size: contain;
    background-attachment: fixed;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.loading {
    position: fixed;
    z-index: 5;
    background-color: $bg-secondary;
    width: 100%;
    height: 100%;
    animation: loading-animation .8s ease-in-out forwards;
    animation-delay: .9s;

    & .loading-children {
        position: fixed;
        z-index: 5;
        background-color: #2e4464;
        width: 100%;
        height: 100%;
        transform: translateX(100%);

        animation: loading-children-animation 1.5s ease-in-out forwards;
        
    }
}


.resp-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
    padding: 8px;
    color: #fff;
    font-weight: bold;
  
    @include show-animation("resp-message", 0, 100px, 1s, ease-in);
}
  
.resp-success {
    background-color: green;
}

.resp-error {
    background-color: red;
}


.spinner {
    display: inline-block;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

@keyframes loading-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}
@keyframes loading-children-animation {
    0% {
        transform: translateX(100%);
    }
    50% {
        // animation-duration: 8s;
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
        display: none;
    }
    
}

.section {
    padding: 10px 40px;
    font-family: $font-primary;

    @media screen and (max-width: 1050px) {
        padding: 10px 20px;
    }

    @media screen and (max-width: 520px) {
        padding: 10px;
    }
    
    @media screen and (max-width: 420px) {
        padding: 5px;
    }
}
