@import './navbar.scss';
@import './header.scss';
@import './works.scss';
@import './crew.scss';
@import './ourClients.scss';
@import './contactUs.scss';
@import './footer.scss';

body {
    background: $bg-primary;
}

.section {
    padding: 10px 40px;
    font-family: $font-primary;
}
